// Margins
.u-margin-bottom-small {
    margin-bottom: 0.5rem;
}

.u-margin-right-small {
    margin-right: 0.5rem;
}

.u-margin-top-small {
    margin-top: 0.5rem;
}

.u-margin-top-medium {
    margin-top: 2rem;
}

.u-margin-left-auto {
    margin-left: auto;
}

.u-margin-right-auto {
    margin-right: auto;
}

.u-margin-left-small {
    margin-left: 0.5rem;
}
