.mapping-fields-page {
    padding: 2rem;

    &__filename-box {
        background-color: $color-white;
        padding: 1rem;
        display: inline-flex;
        flex-direction: column;

        &--danger {
            border: 1px solid $color-danger;
        }

        &--success {
            border: 1px solid $color-success;
        }
    }

    &__table-headings {
        width: 50%;
    }

    &__footer {
        width: 100%;

        display: flex;
        justify-content: flex-end;
    }
}
